/* Common Color*/

$white: #fff;
$black: #333;
$gray: #eee;
$offwhite: #f2f2f2;

// theme color
 $testimonials_bg_color: #0F1113;
 $heading_color: #ff3636;
 $icon_about_color: #ff3636;
 $link_color: #333;
 $link_hover: #ff3636;
 $border_color: #333;
 $btn_bg_color: #ff3636;
 $btn_text_color: #fff;
 $btn_text_hover: #333;
 $service_bg_color: #f6f6f6;
 $timeline_color: #ff3636;